{% extends 'shop/basic.html' %} {% block title %}My Awesome Cart |
Checkout{%endblock %} {% block css %} #poptxt{ color:green; } .grtxt{
color:green; } #emptyMsg{ color:red; } .popitemcont{ border:2px solid black;
padding:3px; margin:3px; border-radius:5px; } {% endblock %} {% block body %}
<div class="container">
  <div class="col my-4">
    <h3>Step 1 - My Awesome Cart Express Checkout - Review your Cart Items</h3>
    <div>
      <ol class="list-group list-group-numbered" id="items">
        <!-- dynamically added elements from js below -->
      </ol>
    </div>
  </div>
  <div class="col my-4">
    <h3>Step 2 - Enter Address and Other Details:</h3>
    <!-- cross site request forgery -->
    <form class="row g-3" method="post" action="/shop/checkout/">
      {% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson" />
      <input type="hidden" name="amount" id="amount" />
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Name"
          name="name"
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          name="email"
        />
      </div>
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="1234 Main St"
          name="address"
        />
      </div>
      <div class="col-12">
        <label for="address_line_2" class="form-label">Address Line 2</label>
        <input
          type="text"
          class="form-control"
          id="address_line_2"
          placeholder="Apartment, studio, or floor"
          name="address_line_2"
        />
      </div>
      <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="city" />
      </div>
      <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select id="state" class="form-select" name="state">
          <option selected>Choose...</option>
          <option>Gujarat</option>
          <option>Karnataka</option>
          <option>Maharashtra</option>
          <option>New Delhi</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="zip_code" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip_code" name="zip_code" />
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          placeholder="Enter Phone Number"
          name="phone"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-warning">Place Order</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block js %}
<script>
  //copypasted index.html js code
  function sumOfCart(cart) {
    var sum = 0;
    for (item in cart) {
      sum = sum + cart[item][0];
    }
    return sum;
  }

  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
    document.getElementById("numCart").innerHTML = sumOfCart(cart); //everytime cart is loaded from localstorage when website is opened, sum will be automatically set too in cart
  }


  var exampleEl = document.getElementById("popcart");
  var popover = new bootstrap.Popover(exampleEl);

  function clearCart() {
    cart = JSON.parse(localStorage.getItem("cart"));
    for (item in cart) {
      $("div" + item).html(
        "<button  id='" +
          item +
          "' class='btn btn-primary cart'>Add to Cart</button>"
      );
    }
    localStorage.clear();
    cart = {};
    //   updateCart(cart)
    updatePopover(cart);
  }
  updatePopover(cart);
  function updatePopover(cart) {
    popstr = "";
    popstr = popstr + "<h5 id='poptxt'>Your Cart</h5>";
    var i = 1;
    var cart = JSON.parse(localStorage.getItem("cart"));
    popstr = popstr + "<div>";
    for (item in cart) {
      popstr = popstr + "<div class='popitemcont'>";
      popstr = popstr + "<b>" + i + ".) " + "</b>";
      popstr = popstr + cart[item][1] + " - Qty: " + cart[item][0];
      popstr = popstr + "</div>";
      i = i + 1;
    }
    popstr = popstr + "</div>";
    popstr =
      popstr +
      "<br><a id='checkout'><a href='/shop/checkout/'>Checkout</a></a><span id='clearCart'>Clear Cart</span>";
    console.log(popstr);
    document.getElementById("popcart").setAttribute("data-bs-content", popstr);
  }
  //copypasted index.html js code end
  prodnameli = "";
  if ($.isEmptyObject(cart)) {
    prodnameli =
      prodnameli +
      "<h6 id='emptyMsg'>Your Cart is Empty. Please add Items in cart to continue.</h6>";
    $("#items").html(prodnameli);
  }
  var total = 0;
  for (item in cart) {
    let qty = cart[item][0];
    let name = cart[item][1];
    let price = cart[item][2];
    let prshown = price * qty;
    total = total + prshown;
    prodnameli =
      prodnameli +
      `<li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">${name}</div>
          </div>
          <div class="mx-3">
          Rs. ${prshown}
          </div>
          <span class="badge bg-primary rounded-pill">${qty}</span>
        </li>`;
  }
  prodnameli =
    prodnameli +
    `<br><span
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold grtxt">Total: </div>
          </div>
          <div class="mx-5 grab">
          Rs. ${total}
          </div>
        </span>`;
  $("#items").html(prodnameli);
  $("#itemsJson").attr("value", JSON.stringify(cart));
  $("#amount").attr("value", total);
</script>
{% endblock %}
