{% extends 'shop/basic.html' %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          max-width: 286px;
          height: 260px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
bottom: auto;
          }
           body .no-padding{
           padding-left: 0;
           padding-right: 0;
           }
           .space {
            padding: 2rem;
        }
        .margg{
          margin-top:10rem;
        }
        .colorc a{
          color:white;
          text-decoration:none;
        }
        #poptxt{
          color:green;
          
        }
        .popitemcont{
          border:2px solid black;
          padding:3px;
          margin:3px;
          border-radius:5px;
        }
        .atext{
          text-decoration:none;
          color:black;
        }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
    <div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">

<!-- code for product card -->
        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.produt_name}}</h5>
              <span class="fw-bold" id="pricepr{{i.id}}">Rs. {{i.price}}</span>
              <p class="card-text">{{ i.desc|slice:":50" }}...</p>
              <button  id="qv{{i.id}}" class="btn btn-primary colorc"><a href="/shop/prodview/{{i.id}}">Quick View</a></button>
              <span id="divpr{{i.id}}" class="divpr">
                <button  id="pr{{i.id}}" class="btn btn-primary cart">Add to Cart</button>
              </span>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev margg" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next margg" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- creating a space div between each and every slider -->
    <div class="space"></div>
  </div>
    {% endfor %}
    
</div>
 {% endblock %}
{% block js %}
<script>
  function sumOfCart(cart){
    var sum=0
    for(item in cart){
      sum=sum+cart[item][0]
    }
    return (sum)
  }


  if(localStorage.getItem('cart')==null){
    var cart={}
  }
  else{
    cart=JSON.parse(localStorage.getItem('cart'))
    document.getElementById('numCart').innerHTML=sumOfCart(cart)//everytime cart is loaded from localstorage when website is opened, sum will be automatically set too in cart
  }
  $('.cart').click(function(){
    var Idstr=this.id.toString()
    if(cart[Idstr]!=undefined){
      qty=cart[Idstr][0]+1
      name=$('#name'+Idstr).html()
      price=$('#price'+Idstr).html()
      cart[Idstr]=[qty,name,price]
      localStorage.setItem('cart',JSON.stringify(cart))
      updateCart(cart)
      updatePopover(cart)
      cart=JSON.parse(localStorage.getItem('cart'))
    }
    // else if (cart[Idstr][0]===0){
    //   delete cart[Idstr]
    //   localStorage.setItem('cart',JSON.stringify(cart))
    //   updateCart(cart)
    //   updatePopover(cart)
    //   cart=JSON.parse(localStorage.getItem('cart'))
    // }
    else{
      qty=1
      name=$('#name'+Idstr).html()
      price=$('#price'+Idstr).html().substring(4)
      // console.log(qty,name)
      cart[Idstr]=[qty,name,price]
    }
    console.log(cart)
    document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
    updateCart(cart)
    localStorage.setItem('cart',JSON.stringify(cart))
    updatePopover(cart)
  })

  //popover

  var exampleEl = document.getElementById('popcart')
  var popover = new bootstrap.Popover(exampleEl)
//function that changes popover cart upon every item added or removed


updatePopover(cart)

//this function changes dom of add to cart button upon clicking to +,- buttons and value of that item in cart in between.
function updateCart(cart){
  //for any variable we want to show on front end which is changing, then use "+ ele +"
  for(item in cart){
    $('#div'+item).html("<button id='minus"+ item +"' class='btn btn-primary minus'>-</button><span id='val"+ item +"'>"+ cart[item][0] +"</span><button id='plus"+ item +"' class='btn btn-primary plus'>+</button>")
  }
  updatePopover(cart)
}

//code for working of plus,minus button
//if i want that we click to an element inside a tag with class ='example'. then use this format
$(".divpr").on('click','button.minus',function(){
  var item=this.id.toString().substring(5)
  if(cart[item][0]>0){
    cart[item][0]=cart[item][0]-1
    document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
    updateCart(cart)
    updatePopover(cart)
    localStorage.setItem('cart',JSON.stringify(cart))
  }
})
$(".divpr").on('click','button.plus',function(){
  var item=this.id.toString().substring(4)
  cart[item][0]=cart[item][0]+1
  document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
  updateCart(cart)
  updatePopover(cart)
  localStorage.setItem('cart',JSON.stringify(cart))
})
function clearCart(){
  cart=JSON.parse(localStorage.getItem('cart'))
  for(item in cart){
    $('div'+item).html("<button  id='"+ item +"' class='btn btn-primary cart'>Add to Cart</button>")
  }
  localStorage.clear()
  cart={}
  updateCart(cart)
  updatePopover(cart)
}
function updatePopover(cart) {
  popstr = "";
  popstr = popstr + "<h5 id='poptxt'>Your Cart</h5>";
  var i = 1;
  var cart=JSON.parse(localStorage.getItem('cart'))
  popstr=popstr+"<div>"
  for (item in cart) {
    popstr = popstr + "<div class='popitemcont'>";
    popstr = popstr + "<b>" + i + ".) " + "</b>";
    popstr = popstr + $('#name'+item).html()+" - Qty: " + cart[item][0];
    popstr = popstr + "</div>";
    i = i + 1;
  }
  popstr=popstr+"</div>"
  popstr=popstr+"<br><button class='btn btn-primary id='checkout'><a href='/shop/checkout/'>Checkout</a></button><button class='btn btn-primary id='clearCart' onclick='clearCart()'>Clear Cart</button>"
  console.log(popstr)
  document.getElementById('popcart').setAttribute('data-bs-content', popstr);
}

</script>
{% endblock %}
<!-- <i class='fa-sharp fa-solid fa-trash'></i> -->
<!-- <i class='fa-sharp fa-solid fa-cash-register'></i> -->