{% extends 'shop/basic.html' %}
{% block title %}My Awesome Cart | Product-{{p.produt_name}}{% endblock %}
{% block css %}
#id1{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:1rem 0;
}
#id2{
    padding-top:2rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin:1rem 0;
}

.btns{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1rem;
}
.btns button{
    margin:10px;
}
{% endblock %}
{% block body %}
    <div class="container d-flex align-items-center justify-content-around">
        <div id="id1" class="container">
            <img src="/media/{{p.image}}" width="400px" height="400px" alt="">
            <div class="btns">
                <button  id="bn" class="btn btn-primary ">Buy Now</button>
                <span id="divpr{{p.id}}" class="divpr">
                    <button  id="pr{{p.id}}" class="btn btn-primary cart">Add to Cart</button>
                </span>
            </div>
        </div>
        <div id="id2" class="container">
            <h5>{{p.produt_name}}</h5>
            <span><strong>Rs. {{p.price}}</strong></span>
            <p>{{p.desc}}</p>
        </div>
    </div>
{% endblock %}
<!-- description of black plastic chair in less than 300 words ecommerce website -->
{% block js %}
<script>
    function sumOfCart(cart){
      var sum=0
      for(item in cart){
        sum=sum+cart[item][0]
      }
      return (sum)
    }
  
  
    if(localStorage.getItem('cart')==null){
      var cart={}
    }
    else{
      cart=JSON.parse(localStorage.getItem('cart'))
      document.getElementById('numCart').innerHTML=sumOfCart(cart)//everytime cart is loaded from localstorage when website is opened, sum will be automatically set too in cart
    }
    $('.cart').click(function(){
      var Idstr=this.id.toString()
      if(cart[Idstr]!=undefined){
        qty=cart[Idstr][0]+1
        name=$('#name'+Idstr).html()
        price=$('#price'+Idstr).html()
        cart[Idstr]=[qty,name,price]
        localStorage.setItem('cart',JSON.stringify(cart))
        updateCart(cart)
        updatePopover(cart)
        cart=JSON.parse(localStorage.getItem('cart'))
      }
      // else if (cart[Idstr][0]===0){
      //   delete cart[Idstr]
      //   localStorage.setItem('cart',JSON.stringify(cart))
      //   updateCart(cart)
      //   updatePopover(cart)
      //   cart=JSON.parse(localStorage.getItem('cart'))
      // }
      else{
        qty=1
        name=$('#name'+Idstr).html()
        price=$('#price'+Idstr).html().substring(4)
        // console.log(qty,name)
        cart[Idstr]=[qty,name,price]
      }
      console.log(cart)
      document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
      updateCart(cart)
      localStorage.setItem('cart',JSON.stringify(cart))
      updatePopover(cart)
    })
  
    //popover
  
    var exampleEl = document.getElementById('popcart')
    var popover = new bootstrap.Popover(exampleEl)
  //function that changes popover cart upon every item added or removed
  
  
  updatePopover(cart)
  
  //this function changes dom of add to cart button upon clicking to +,- buttons and value of that item in cart in between.
  function updateCart(cart){
    //for any variable we want to show on front end which is changing, then use "+ ele +"
    for(item in cart){
      $('#div'+item).html("<button id='minus"+ item +"' class='btn btn-primary minus'>-</button><span id='val"+ item +"'>"+ cart[item][0] +"</span><button id='plus"+ item +"' class='btn btn-primary plus'>+</button>")
    }
    updatePopover(cart)
  }
  
  //code for working of plus,minus button
  //if i want that we click to an element inside a tag with class ='example'. then use this format
  $(".divpr").on('click','button.minus',function(){
    var item=this.id.toString().substring(5)
    if(cart[item][0]>0){
      cart[item][0]=cart[item][0]-1
      document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
      updateCart(cart)
      updatePopover(cart)
      localStorage.setItem('cart',JSON.stringify(cart))
    }
  })
  $(".divpr").on('click','button.plus',function(){
    var item=this.id.toString().substring(4)
    cart[item][0]=cart[item][0]+1
    document.getElementById('numCart').innerHTML=sumOfCart(cart) //method to find sum of all keys(method made abve)
    updateCart(cart)
    updatePopover(cart)
    localStorage.setItem('cart',JSON.stringify(cart))
  })
  function clearCart(){
    cart=JSON.parse(localStorage.getItem('cart'))
    for(item in cart){
      $('div'+item).html("<button  id='"+ item +"' class='btn btn-primary cart'>Add to Cart</button>")
    }
    localStorage.clear()
    cart={}
    updateCart(cart)
    updatePopover(cart)
  }
  function updatePopover(cart) {
    popstr = "";
    popstr = popstr + "<h5 id='poptxt'>Your Cart</h5>";
    var i = 1;
    var cart=JSON.parse(localStorage.getItem('cart'))
    popstr=popstr+"<div>"
    for (item in cart) {
      popstr = popstr + "<div class='popitemcont'>";
      popstr = popstr + "<b>" + i + ".) " + "</b>";
      popstr = popstr + $('#name'+item).html()+" - Qty: " + cart[item][0];
      popstr = popstr + "</div>";
      i = i + 1;
    }
    popstr=popstr+"</div>";
    popstr=popstr+"<br><a id='checkout'><a href='/shop/checkout/'>Checkout</a></a><span id='clearCart'>Clear Cart</span>";
   
    console.log(popstr)
    document.getElementById('popcart').setAttribute('data-bs-content', popstr);
    document.querySelector('#clearCart').addEventListener('click',clearCart())
  }
  </script>
{% endblock %}
